*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
} 

.price_name{
    color: #000;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(245, 244, 244);
}

p{
    color: rgb(194, 181, 181);
}

.header{
    background: #000; 
}

.header .row{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;   
}

/* .row {
   display: flex;
   flex-wrap: nowrap;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.box-container {
  flex: 0 0 auto; 
} */

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

/* .col-2 img{
    max-width: 100%;
    padding: 50px 0;
    height: 450px;
    /* margin-left: 20%; */
    /* place-self: center;
} */ 
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 50px 0;
    height: 470px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #ffffff;
}

.btn-main{
    display: inline-block;
    background: #210583;
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.cart-img{
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.btn-main:hover{
    background-color: #170653;

}

.categories{
    margin: 60px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.small-container h2{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
}

.col-4{
    flex-basis: 50%;
    padding: 10px;
    max-width: 220px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
    height: 200px;
}

.title{
    color: rgb(41, 36, 36);
    position: relative;
    line-height: 60px;
}

.box-container {
    height: 340px;
    box-shadow: 0 8px 6px -6px rgba(104, 99, 99, 0.712);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.title::after{
    content: '';
    background: #210583;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ffbf00
}

.col-4:hover{
    transform: translateY(-5px);
}

.col-4 img:hover{
    background: url(./techbg.jpg);
}
 
.box-container .image-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.box-container:hover .image-overlay{
    opacity: 1;
}

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
   
  .box-container:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
   
  .content-details h3{
    color: #fff;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
   
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
   
  .fadeIn-bottom{
    top: 80%;
  }
   
  .fadeIn-top{
    top: 20%;
  }
   
  .fadeIn-left{
    left: 20%;
  }
   
  .fadeIn-right{
    left: 80%;
  }

/* google maps */
 #map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
/* ----offer--- */
.offer{
    background-color: #000;
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
    width: 32rem;
}

small{
    color: #555
}

/* --------brands--------- */
.brands{
    margin: 100px auto;
}

.col-5{
    width: 100px;
}

.col-5 img{
    height: 50px;
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0);
}


.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    text-decoration: none;
    list-style: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    height: 50px;
    width: 50px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
    filter: invert(100)
}

/* ------------ media query for menu -------------------- */

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: maxHeight 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}