*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  background:white;
}
::-webkit-scrollbar-thumb {
  background: #262626;
}
html{
  scroll-behavior: smooth;
}
.toggle-btn{
  position: fixed;
  left: 0;
  margin:30px;
  padding:10px;
  width: 60px;
  height:60px;
  z-index: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  border:none;
  outline:none;
  background:white;
  border-radius: 5px;
  background: linear-gradient(136deg, rgb(68, 132, 206), rgb(26, 215, 192), rgb(255, 155, 17), rgb(155, 89, 182), rgb(255, 127, 127), rgb(236, 240, 241)) 0% 0% / 1200% 1200%;
  background-size: 1200% 1200%;
  animation: BackgroundAnimation 70s ease infinite;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  cursor: pointer;
}
.toggle-btn:active,.toggle-btn:focus{
  border:none;
  outline: none;
}
.sidenav {
  height: fit-content;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  padding-bottom: 30vh;
  border-radius: 10px;
  background: linear-gradient(136deg, rgb(68, 132, 206), rgb(26, 215, 192), rgb(255, 155, 17), rgb(155, 89, 182), rgb(255, 127, 127), rgb(236, 240, 241)) 0% 0% / 1200% 1200%;
	background-size: 1200% 1200%;
	animation: BackgroundAnimation 70s ease infinite;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 0 100px rgba(0,0,0,0.45);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #f8f9fa;
  display: block;
  transition: 1s;
}

.sidenav a:hover {
  color: transparent;
  color: #f8f9fa;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.item{
  margin-left: 30px;
  transition: .5s;
  font-weight: 500;
  text-transform: uppercase;
  background:transparent;
  border-left:2px solid transparent;
  border-right:2px solid transparent;
  border-top:2px solid transparent;
  color:black;
}
#particles-js{
    height: 100vh;
    width: 100%;
}
.hero{
    width: 100%;
    height: 100vh;
    background: linear-gradient(136deg, rgb(68, 132, 206), rgb(26, 215, 192), rgb(255, 155, 17), rgb(155, 89, 182), rgb(255, 127, 127), rgb(236, 240, 241)) 0% 0% / 1200% 1200%;
	  background-size: 1200% 1200%;
	  animation: BackgroundAnimation 70s ease infinite
}
.hero h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:  10.6458333333333335vw;
    font-weight: lighter;
    color: #f8f9fa;
    transition: .8s;
    white-space: nowrap;
    padding-bottom: 10vh;
    animation-name: rise;
    animation-duration: 3s;
}
.hero #mm{
  color: #f9f9fa;
  text-shadow: 0 0 20px white;
}
.hero h2{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:  2.6458333333333335vw;
    color: #f8f9fa;
    width: fit-content;
    overflow: hidden;
    font-weight: lighter;
    animation-name: left;
    animation-duration: 6s;
}
.hero a{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    padding: 5px 50px 5px 15px;
    background: transparent;
    border: 2px solid #f8f9fa;
    color: #f8f9fa;
    font-weight: 500;
    font-size: 1rem;
    animation-name: rise;
    animation-duration: 9s;
    white-space: nowrap;
}
.hero a:hover{
    color: black;
    text-decoration: none;
}
.bg{
    padding: 12px 0px 12px 0px;
    position: absolute;
    top: 0;
    left: 0%;
    bottom: 0%;
    background: white;
    z-index: -1;
    transition: .1s;
    font-weight: 100;
    clip-path: polygon(0 0, 90% 0, 80% 100%, 0% 100%);

}
.hero a:hover .bg{
    padding: 16px 50px 16px 100px;
    top: 0;
    bottom: 0;
}
.about{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #f8f9fa;
    padding-bottom: 60px;
    box-shadow: 0 0 100px rgba(0,0,0,0.45);
}
.about .text{
  width: 80%;
}
.about h1{
  margin: 30px;
  font-size: 4vw;
  font-weight: lighter;
}
.about img{
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(50, 50, 50, 1)
}
.about p{
  line-height: 40px;
  margin-top: 60px;
}
.projects{
  text-align: center;
}
.projects h1{
  margin: 40px;
  font-weight: lighter;
}
.projectcards{
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.projectcards .card{
  width: 35%;
  margin: 40px;
  padding: 25px;
  text-align: left;
}
.projectcards .card h2{
  font-weight: lighter;
  margin: 10px;
  margin-bottom: 20px;
}
.projectcards .card p{
  line-height: 30px;
}
.projectcards .card .buttons{
  display: flex;
}
.projectcards .card a{
  width: fit-content;
  margin-right: 20px;
  white-space: nowrap;
}
.projectcards .card a{
  text-decoration: none;
  color: black;
  padding: 10px 12px 10px 12px;
  border-radius: 5px;
}
.feedback{
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.feedback h1{
  font-weight: lighter;
  margin-top: 85px;
}
.feedback input, .feedback textarea{
  border:none;
  outline: none;
  border-radius: 5px;
  float: left;
  margin-left: 20px;

}
.feedback  input{
  margin-right: 20px;
  margin-bottom: 40px;
  padding: 10px 20px 10px 20px;
  width: 50%;
}
.feedback .feed{
  padding: 10px 20px 10px 20px;
  width: 80%;
  height: 200px;
}
.feedback .send{
  float: left;
  margin-top: 20px;
  width: 35%;
}
.footer{
  width: 100%;
  height: 200px;
  background: #262626;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.mlinks{
  display: flex;
}
.footer .fa-github-square{
  font-size: 40px;
  color: white;
  margin-right: 20px;
}
.footer .fa-codepen{
  font-size: 40px;
  color: white;
}
.footer #copy{
  color: white;
  margin-top: 40px;
}
.footer p{
  color: white;
  margin-top: 10px;
}
@keyframes rise{
  0%{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%,-50%);
    opacity: 0;
  }
  100%{
    position:normal;
  }
}
@keyframes left{
  0%{
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(-50%,-50%);
    opacity: 0;
  }
  100%{
    position:normal;
  }
}
@-webkit-keyframes BackgroundAnimation {
    0% {
      background-position: 0% 7%;
    }
    50% {
      background-position: 100% 94%;
    }
    100% {
      background-position: 0% 7%;
    }
}

@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@-o-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 7%;
  }
  50% {
    background-position: 100% 94%;
  }
  100% {
    background-position: 0% 7%;
  }
}
@media(max-width:1200px){
  .about h1{
    font-size: 6vw;
  }
}
@media(max-width:1020px){
    .hero h1{
        font-size: 4.947916666666667vw;
        position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    }
    .hero h2{
      font-size: 3.947916666666667vw;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .about h1{
      font-size: 7vw;
    }
    .projects h1{
      font-size: 8vw;
    }
    .about img{
      display: none;
    }
}
@media(max-width:800px){
    .hero h1{
        font-size:   15.5vw;
        white-space: nowrap;
        left: 2%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .projectcards .card{
      width: 80%;
    }
    .hero h2{
      font-size:   5vw;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%,-50%);
        
    }
    .projects h1{
      font-size: 9vw;
    }
    .about h1{
      font-size: 11vw;
    }
    .projectcards .card .buttons{
      display: flex;
      flex-direction: column;
    }
    .projectcards .card a{
      margin-bottom: 25px;
    }
}
@media(max-width:305px){
  .hero a{
    white-space: nowrap;
  }
  .hero h1{
    font-size: 13vw;
  }
  .hero h2{
    font-size: 8vw;
    white-space: nowrap;
  }
}