@import "../../../../styles/abstracts/index.scss";

.payment-form {
  &__discount-momo {
    background-color: #EE4D2D;
    padding: 0.8rem;
    border-radius: 1rem;
    margin-top: 1rem;

    img {
      height: 30px;
      width: 30px;
      @include respond(extra-large-desktop) {
        width: 60px;
        height: 60px;
      }

      @include respond(large-desktop) {
        width: 50px;
        height: 50px;
      }
    }
    display: flex;
    align-items: center;
  }
  &__momo-content {
    color: white;
  }
  &__discount-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;

    font-size: large;
  }
}
