@use "./styles/var.scss" as var;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  color: var.$text-light;
}

a {
  color: unset;
  text-decoration: none;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;

  // background-image: -webkit-gradient(
  //   linear,
  //   left bottom,
  //   left top,
  //   color-stop(0.44, rgb(122, 153, 217)),
  //   color-stop(0.72, rgb(73, 125, 189)),
  //   color-stop(0.86, var.$primary-color)
  // );
}
